In [1]:
# hacker news data

In [2]:
import pandas as pd

In [7]:
df_news = pd.read_csv("hackernews")
df_news.head()

,by,id,parent,text,time,type,kids,dead,descendants,score,title,url,deleted
0,dmitriid,30113196,30111767.0,"Counter ref: <a href=""https:&#x2F;&#x2F;www.qu...",1643368361,comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cthulhu_,30113195,30110249.0,"For web &amp; phones, I&#x27;m inclined to agr...",1643368352,comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,michaelt,30113194,30112830.0,Doesn&#x27;t the gigantic pull request descrip...,1643368348,comment,"[30113327, 30113210]",NaN,NaN,NaN,NaN,NaN,NaN
3,bitwize,30113193,30113146.0,From What I understand Bellard&#x27;s code is ...,1643368337,comment,[30113398],NaN,NaN,NaN,NaN,NaN,NaN
4,TuringTest,30113192,30112088.0,Not being considered a citizen is a very clear...,1643368326,comment,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Unescape Text

In [13]:
# test unescape text
import html
print('---escaped')
print(df_news.iloc[0].text)
test_text = html.unescape(df_news.iloc[0].text)
print('---unescaped')
print(test_text)

---escaped
Counter ref: <a href="https:&#x2F;&#x2F;www.quirksmode.org&#x2F;blog&#x2F;archives&#x2F;2021&#x2F;08&#x2F;breaking_the_we.html" rel="nofollow">https:&#x2F;&#x2F;www.quirksmode.org&#x2F;blog&#x2F;archives&#x2F;2021&#x2F;08&#x2F;breaking_th...</a>
---unescaped
Counter ref: <a href="https://www.quirksmode.org/blog/archives/2021/08/breaking_the_we.html" rel="nofollow">https://www.quirksmode.org/blog/archives/2021/08/breaking_th...</a>

In [5]:
df_races = pd.read_csv("races")
df_races.head()

,name,country,circuit_name,date,time
0,Bahrain Grand Prix,Bahrain,Bahrain International Circuit,2021-03-28,15:00:00Z
1,Emilia Romagna Grand Prix,Italy,Autodromo Enzo e Dino Ferrari,2021-04-18,13:00:00Z
2,Portuguese Grand Prix,Portugal,Autódromo Internacional do Algarve,2021-05-02,14:00:00Z
3,Spanish Grand Prix,Spain,Circuit de Barcelona-Catalunya,2021-05-09,13:00:00Z
4,Monaco Grand Prix,Monaco,Circuit de Monaco,2021-05-23,13:00:00Z

### Test Timestamps and Date and Time transformation
#### Obersvations:
Hackernews uses timestamps
Races has date and time. Letter 'Z' in military time indicates ZULU Time Zone which is equivalent to UTC.

# transform timestamp to time_df
t = pd.to_datetime(df_news['timestamp'], unit='ms')

df_time = pd.DataFrame(columns = ['timestamp', 'hour', 'day', 'week']) 
df_time['timestamp'] = df_news['timestamp']
df_time['hour']= t.dt.hour
df_time['day']= t.dt.day
df_time['week']= t.dt.week
df_time['month']= t.dt.month
df_time['year']=t.dt.year
df_time['weekday']=t.dt.weekday
df_time.head()

In [21]:

# add times from races

from datetime import datetime
import calendar

# Step 1 convert to time string

# 2021-05-23 13:00:00Z
# concat date and time, remove "Z" from time
sample_date = df_races.iloc[0].date
print(sample_date)
sample_time = df_races.iloc[0].time
#remove "Z" label at the end
sample_time_no_z = sample_time[:-1]

print(sample_time)
print(sample_time_no_z)
sample_datetime = sample_date + ' ' + sample_time_no_z
print(sample_datetime)
dt = datetime.strptime(sample_datetime, "%Y-%m-%d %H:%M:%S")
# -> datetime.datetime(2015, 7, 13, 9, 38, 17)

#utc because of "z"
utc_time = calendar.timegm(dt.utctimetuple())
print(utc_time)

#test
# if you encounter a "year is out of range" error the timestamp
# may be in milliseconds, try `ts /= 1000` in that case
print('-------right timestamp?')
print(datetime.utcfromtimestamp(utc_time).strftime('%Y-%m-%d %H:%M:%S'))

2021-03-28
15:00:00Z
15:00:00
2021-03-28 15:00:00
1616943600
-------right timestamp?
2021-03-28 15:00:00

In [ ]:
TODO:
Hackernews Data:

- datetime-
- unescape text
- parent: int not float
- NaN to null
- if no text remove line

Race:
- Timestamp transformation